// MQ Tests

//
//breackbpints

$phone-min-width:     320px;
$phone-max-width:     767px;
$tablet-min-width:    768px;
$tablet-max-width:    1023px;
$desktop-width:       1024px;

$orientation-Portrait:  "portrait";
$orientation-Landscape:  "landscape";




// mixins --------------------------------

@mixin  tooSmall{
  @media(max-width: 310px) {
    @content;
  }
}

// Phone Hochformat
@mixin  phonehoch{
  @media(min-width: #{$phone-min-width}) and (max-width: #{$phone-max-width}) and (orientation:#{$orientation-Portrait}){
    @content;
  }
}

// Phone Querformat
@mixin  phonequer{
  @media(min-width: #{$phone-min-width}) and (max-width: #{$phone-max-width}) and (orientation: #{$orientation-Landscape}){
    @content;
  }
}

// Tablet Hochformat
@mixin  tablethoch{
  @media(min-width: #{$tablet-min-width}) and (max-width: #{$tablet-max-width}) and (orientation: #{$orientation-Portrait}){
    @content;
  }
}

// Tablet Querformat
@mixin  tabletquer{
  @media(min-width: #{$tablet-min-width}) and (max-width: #{$tablet-max-width}) and (orientation: #{$orientation-Landscape}){
    @content;
  }
}

// Screen over 1024
@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

// sö test
.title-gal:after{
  font-size: 10px;
  color: #A3A;
  @include tooSmall {
    content: "much too small, kolleg!";
  }
  @include phonehoch{
    content: "phone portrait";
  }

  @include  phonequer{
    content: "phone landscape";
  }

  @include  tablethoch{
    content: "Tablet hoch";
  }

  @include  tabletquer{
    content: "Tablet quer";
    color: #F3C113;
  }
  @include desktop{
    content: "Desktop";
  }
}

// Containers ----------------------------
#ContainerContent{
  display: block;
  padding-bottom:0;
  @include phonehoch{
    padding-bottom:0;
  }

  @include  phonequer{
    padding-bottom:0;
  }

  @include  tablethoch{
    padding-bottom:0;
  }

  @include  tabletquer{
    padding-bottom:70px;
  }

  @include desktop{
    padding-bottom:70px;
  }
}

#ContainerFooter{
  display: block;
  @include phonehoch{
    visibility: hidden;
  }

  @include  phonequer{
    visibility: hidden;
  }

  @include  tablethoch{
    visibility: hidden;
  }

  @include  tabletquer{
    visibility: visible;
  }

  @include desktop{
    visibility: visible;
  }
}

// Title bar
.title-gal{
  //width: 35%;

  @include  phonehoch{
    width: 35%;
  }
  @include  phonequer{
    width: 40%;
  }
  @include  tablethoch{
    width: 40%;
  }
  @include  tabletquer{
    width: 45%;
  }
  @include desktop{
    width: 47%;
  }
}

.title-gal h1{
  font-size: 1rem;

  @include tooSmall {
    font-size: 0.5rem;
  }
  @include phonehoch{
    font-size: 1rem;
  }
  @include  phonequer{
    font-size: 1.1rem;
  }
  @include  tablethoch{
    font-size: 1.6rem;
  }
  @include  tabletquer{
    font-size: 1.6rem;
  }
  @include desktop{
    font-size: 2.2rem;
  }

}

//---------------------------Splash Screen ---/

.splash-content{
  left: 50%;
  top: 40%;

  @include phonehoch{
    left: 50%;
    top: 40%;
  }

  @include  phonequer{
    left: 50%;
    top: 40%;
  }

  @include  tablethoch{

  }

  @include  tabletquer{

  }

  @include desktop{

  }
}

.splash-content h1 {
  font-size: 4rem;
  @include phonehoch{
    font-size: 3rem;
  }

  @include  phonequer{
    font-size: 3rem;
  }

  @include  tablethoch{

  }

  @include  tabletquer{

  }

  @include desktop{
    font-size: 6rem;
  }

}


.splash-content h2 {
  font-size: 1rem;
  letter-spacing: 2px;
  margin-top: -18px;
  @include phonehoch{
    margin-top: -1px;
    font-size: 0.8rem;
  }

  @include  phonequer{
    margin-top: -11px;
    font-size: 0.8rem;
  }

  @include  tablethoch{
    margin-top: -12px;
    font-size: 0.9rem;
  }

  @include  tabletquer{
    margin-top: -12px;
    font-size: 0.9rem;
  }

  @include desktop{
    margin-top: -18px;
    font-size: 1rem;
  }

}


.splash-content h3 {
  padding-top: 40px;
  font-size: 1rem;
  @include phonehoch{
    padding-top: 40px;
    font-size: 1rem;
  }

  @include  phonequer{
    padding-top: 40px;
    font-size: 1rem;
  }

  @include  tablethoch{
    padding-top: 60px;
    font-size: 1rem;
  }

  @include  tabletquer{
    padding-top: 30px;
    font-size: 1rem;
  }

  @include desktop{
    padding-top: 40px;
    font-size: 1.6rem;
  }
}



//-------------------- VIEWS
// start View

.center{
  top: 43%;

  @include phonehoch{
    top: 45%;
  }

  @include  phonequer{
    top: 30%;
  }

  @include  tablethoch{
    top:40%;
  }

  @include  tabletquer{
    top:45%;
  }

  @include desktop{
    top:45%;
  }

}

.center h1{
  font-size: 2.4rem;
  @include phonehoch{
    font-size: 2.4rem;
  }

  @include  phonequer{
    font-size: 2rem;
  }

  @include  tablethoch{
    font-size: 2.8rem;
  }

  @include  tabletquer{
    font-size: 2.8rem;
  }

  @include desktop{
    font-size: 4.4rem;
  }
}

.center h2{
  font-size: 1.2rem;

  @include phonehoch{
    font-size: 1.2rem;
    margin-right: 2em;
  }

  @include  phonequer{
    font-size: 1rem;
  }

  @include  tablethoch{
    font-size: 1.2rem;
    margin-right: 8rem;
  }

  @include  tabletquer{
    font-size: 1.2rem;
    margin-right: 8rem;
  }

  @include desktop{
    font-size: 1.8rem;
    margin-right: 10rem;
  }
}



//-----------------------------menu off-canvas /

.menu-list{
  //font-size: 1rem;
  @include phonehoch{
    font-size: 0.9rem;
  }

  @include  phonequer{
    font-size: 0.8rem;
  }

  @include  tablethoch{
    font-size: 1.2rem;
  }

  @include  tabletquer{
    font-size: 1.2rem;

  }

  @include desktop{
    font-size: 1rem;

  }
}



.ttmenu{
  @include phonehoch{
    font-size: 0.9rem;
  }

  @include  phonequer{
    font-size: 0.8rem;
  }

  @include  tablethoch{
    font-size: 1.2rem;
  }

  @include  tabletquer{
    font-size: 1.2rem;

  }
  @include desktop{
    font-size: 1rem;
  }
}
// ----------------------- Content Article ---/


.two-thirds.column{
  width: 100%;
  @include phonehoch{
    width: 100%;
  }

  @include  phonequer{
    width: 100%;
  }

  @include  tablethoch{
    width: 100%;
  }

  @include  tabletquer{
    width: 65.3333333333%;
  }

  @include desktop{
    width: 65.3333333333%;
  }
}


.teaser{
  display: none;

  @include  tablethoch{
    display: none;
  }
  @include  tabletquer{
    display: block;
  }

  @include desktop{
    display: block;
  }
}


.articleDefault h2 {
  font-size: 2.6rem;
  padding-right: 1rem;
  @include phonehoch{
    font-size: 2rem;
    padding-right: 0.5rem;
  }

  @include  phonequer{
    font-size: 2rem;
    padding-right: 0.5rem;
  }

  @include  tablethoch{
    font-size: 2.8rem;
    padding-right: 0.5rem;
  }

  @include  tabletquer{

    font-size: 2.6rem;
    padding-right: 0.5rem;
  }

  @include desktop{
    padding-top: 3rem;
    font-size: 3.4rem;
    padding-right: 0;
  }
}

.articleDefault p{
  font-size: 1.4rem;
  line-height:2rem;
  @include phonehoch{
    font-size: 1.3rem;
    line-height:1.8rem;
  }

  @include  phonequer{
    font-size: 1.3rem;
    line-height:1.8rem;
  }

  @include  tablethoch{
    font-size: 1.4rem;
    line-height:2rem;
  }

  @include  tabletquer{
    font-size: 1.4rem;
    line-height:2rem;
  }

  @include desktop{
    font-size: 1.4rem;
    line-height:2.2rem;
  }

}

.articleRight, .articleLeft h3{
  font-size: 1.8rem;
  line-height: 1.8rem;
  font-weight: 300;
  @include desktop{
    font-size: 2.6rem;
    line-height: 1.8rem;
    font-weight: 100;
  }
}




.articleLeft, .articleRight p{
  font-size: 1rem;
  line-height: 1.8rem;
  font-weight: 300;
  @include desktop{
    font-size: 1.6rem;
    line-height: 2.6rem;
    font-weight: 100;
  }

}
/*---*/

h1{

  @include phonehoch{

  }

  @include  phonequer{

  }

  @include  tablethoch{

  }

  @include  tabletquer{

  }

  @include desktop{

  }
}

