.title-gal:after {
  font-size: 10px;
  color: #A3A; }
  @media (max-width: 310px) {
    .title-gal:after {
      content: "much too small, kolleg!"; } }
  @media (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
    .title-gal:after {
      content: "phone portrait"; } }
  @media (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
    .title-gal:after {
      content: "phone landscape"; } }
  @media (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
    .title-gal:after {
      content: "Tablet hoch"; } }
  @media (min-width: 768px) and (max-width: 1023px) and (orientation: landscape) {
    .title-gal:after {
      content: "Tablet quer";
      color: #F3C113; } }
  @media (min-width: 1024px) {
    .title-gal:after {
      content: "Desktop"; } }

#ContainerContent {
  display: block;
  padding-bottom: 0; }
  @media (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
    #ContainerContent {
      padding-bottom: 0; } }
  @media (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
    #ContainerContent {
      padding-bottom: 0; } }
  @media (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
    #ContainerContent {
      padding-bottom: 0; } }
  @media (min-width: 768px) and (max-width: 1023px) and (orientation: landscape) {
    #ContainerContent {
      padding-bottom: 70px; } }
  @media (min-width: 1024px) {
    #ContainerContent {
      padding-bottom: 70px; } }

#ContainerFooter {
  display: block; }
  @media (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
    #ContainerFooter {
      visibility: hidden; } }
  @media (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
    #ContainerFooter {
      visibility: hidden; } }
  @media (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
    #ContainerFooter {
      visibility: hidden; } }
  @media (min-width: 768px) and (max-width: 1023px) and (orientation: landscape) {
    #ContainerFooter {
      visibility: visible; } }
  @media (min-width: 1024px) {
    #ContainerFooter {
      visibility: visible; } }

@media (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
  .title-gal {
    width: 35%; } }

@media (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  .title-gal {
    width: 40%; } }

@media (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
  .title-gal {
    width: 40%; } }

@media (min-width: 768px) and (max-width: 1023px) and (orientation: landscape) {
  .title-gal {
    width: 45%; } }

@media (min-width: 1024px) {
  .title-gal {
    width: 47%; } }

.title-gal h1 {
  font-size: 1rem; }
  @media (max-width: 310px) {
    .title-gal h1 {
      font-size: 0.5rem; } }
  @media (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
    .title-gal h1 {
      font-size: 1rem; } }
  @media (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
    .title-gal h1 {
      font-size: 1.1rem; } }
  @media (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
    .title-gal h1 {
      font-size: 1.6rem; } }
  @media (min-width: 768px) and (max-width: 1023px) and (orientation: landscape) {
    .title-gal h1 {
      font-size: 1.6rem; } }
  @media (min-width: 1024px) {
    .title-gal h1 {
      font-size: 2.2rem; } }

.splash-content {
  left: 50%;
  top: 40%; }
  @media (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
    .splash-content {
      left: 50%;
      top: 40%; } }
  @media (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
    .splash-content {
      left: 50%;
      top: 40%; } }

.splash-content h1 {
  font-size: 4rem; }
  @media (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
    .splash-content h1 {
      font-size: 3rem; } }
  @media (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
    .splash-content h1 {
      font-size: 3rem; } }
  @media (min-width: 1024px) {
    .splash-content h1 {
      font-size: 6rem; } }

.splash-content h2 {
  font-size: 1rem;
  letter-spacing: 2px;
  margin-top: -18px; }
  @media (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
    .splash-content h2 {
      margin-top: -1px;
      font-size: 0.8rem; } }
  @media (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
    .splash-content h2 {
      margin-top: -11px;
      font-size: 0.8rem; } }
  @media (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
    .splash-content h2 {
      margin-top: -12px;
      font-size: 0.9rem; } }
  @media (min-width: 768px) and (max-width: 1023px) and (orientation: landscape) {
    .splash-content h2 {
      margin-top: -12px;
      font-size: 0.9rem; } }
  @media (min-width: 1024px) {
    .splash-content h2 {
      margin-top: -18px;
      font-size: 1rem; } }

.splash-content h3 {
  padding-top: 40px;
  font-size: 1rem; }
  @media (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
    .splash-content h3 {
      padding-top: 40px;
      font-size: 1rem; } }
  @media (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
    .splash-content h3 {
      padding-top: 40px;
      font-size: 1rem; } }
  @media (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
    .splash-content h3 {
      padding-top: 60px;
      font-size: 1rem; } }
  @media (min-width: 768px) and (max-width: 1023px) and (orientation: landscape) {
    .splash-content h3 {
      padding-top: 30px;
      font-size: 1rem; } }
  @media (min-width: 1024px) {
    .splash-content h3 {
      padding-top: 40px;
      font-size: 1.6rem; } }

.center {
  top: 43%; }
  @media (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
    .center {
      top: 45%; } }
  @media (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
    .center {
      top: 30%; } }
  @media (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
    .center {
      top: 40%; } }
  @media (min-width: 768px) and (max-width: 1023px) and (orientation: landscape) {
    .center {
      top: 45%; } }
  @media (min-width: 1024px) {
    .center {
      top: 45%; } }

.center h1 {
  font-size: 2.4rem; }
  @media (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
    .center h1 {
      font-size: 2.4rem; } }
  @media (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
    .center h1 {
      font-size: 2rem; } }
  @media (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
    .center h1 {
      font-size: 2.8rem; } }
  @media (min-width: 768px) and (max-width: 1023px) and (orientation: landscape) {
    .center h1 {
      font-size: 2.8rem; } }
  @media (min-width: 1024px) {
    .center h1 {
      font-size: 4.4rem; } }

.center h2 {
  font-size: 1.2rem; }
  @media (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
    .center h2 {
      font-size: 1.2rem;
      margin-right: 2em; } }
  @media (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
    .center h2 {
      font-size: 1rem; } }
  @media (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
    .center h2 {
      font-size: 1.2rem;
      margin-right: 8rem; } }
  @media (min-width: 768px) and (max-width: 1023px) and (orientation: landscape) {
    .center h2 {
      font-size: 1.2rem;
      margin-right: 8rem; } }
  @media (min-width: 1024px) {
    .center h2 {
      font-size: 1.8rem;
      margin-right: 10rem; } }

@media (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
  .menu-list {
    font-size: 0.9rem; } }

@media (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  .menu-list {
    font-size: 0.8rem; } }

@media (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
  .menu-list {
    font-size: 1.2rem; } }

@media (min-width: 768px) and (max-width: 1023px) and (orientation: landscape) {
  .menu-list {
    font-size: 1.2rem; } }

@media (min-width: 1024px) {
  .menu-list {
    font-size: 1rem; } }

@media (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
  .ttmenu {
    font-size: 0.9rem; } }

@media (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  .ttmenu {
    font-size: 0.8rem; } }

@media (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
  .ttmenu {
    font-size: 1.2rem; } }

@media (min-width: 768px) and (max-width: 1023px) and (orientation: landscape) {
  .ttmenu {
    font-size: 1.2rem; } }

@media (min-width: 1024px) {
  .ttmenu {
    font-size: 1rem; } }

.two-thirds.column {
  width: 100%; }
  @media (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
    .two-thirds.column {
      width: 100%; } }
  @media (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
    .two-thirds.column {
      width: 100%; } }
  @media (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
    .two-thirds.column {
      width: 100%; } }
  @media (min-width: 768px) and (max-width: 1023px) and (orientation: landscape) {
    .two-thirds.column {
      width: 65.3333333333%; } }
  @media (min-width: 1024px) {
    .two-thirds.column {
      width: 65.3333333333%; } }

.teaser {
  display: none; }
  @media (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
    .teaser {
      display: none; } }
  @media (min-width: 768px) and (max-width: 1023px) and (orientation: landscape) {
    .teaser {
      display: block; } }
  @media (min-width: 1024px) {
    .teaser {
      display: block; } }

.articleDefault h2 {
  font-size: 2.6rem;
  padding-right: 1rem; }
  @media (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
    .articleDefault h2 {
      font-size: 2rem;
      padding-right: 0.5rem; } }
  @media (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
    .articleDefault h2 {
      font-size: 2rem;
      padding-right: 0.5rem; } }
  @media (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
    .articleDefault h2 {
      font-size: 2.8rem;
      padding-right: 0.5rem; } }
  @media (min-width: 768px) and (max-width: 1023px) and (orientation: landscape) {
    .articleDefault h2 {
      font-size: 2.6rem;
      padding-right: 0.5rem; } }
  @media (min-width: 1024px) {
    .articleDefault h2 {
      padding-top: 3rem;
      font-size: 3.4rem;
      padding-right: 0; } }

.articleDefault p {
  font-size: 1.4rem;
  line-height: 2rem; }
  @media (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
    .articleDefault p {
      font-size: 1.3rem;
      line-height: 1.8rem; } }
  @media (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
    .articleDefault p {
      font-size: 1.3rem;
      line-height: 1.8rem; } }
  @media (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
    .articleDefault p {
      font-size: 1.4rem;
      line-height: 2rem; } }
  @media (min-width: 768px) and (max-width: 1023px) and (orientation: landscape) {
    .articleDefault p {
      font-size: 1.4rem;
      line-height: 2rem; } }
  @media (min-width: 1024px) {
    .articleDefault p {
      font-size: 1.4rem;
      line-height: 2.2rem; } }

.articleRight, .articleLeft h3 {
  font-size: 1.8rem;
  line-height: 1.8rem;
  font-weight: 300; }
  @media (min-width: 1024px) {
    .articleRight, .articleLeft h3 {
      font-size: 2.6rem;
      line-height: 1.8rem;
      font-weight: 100; } }

.articleLeft, .articleRight p {
  font-size: 1rem;
  line-height: 1.8rem;
  font-weight: 300; }
  @media (min-width: 1024px) {
    .articleLeft, .articleRight p {
      font-size: 1.6rem;
      line-height: 2.6rem;
      font-weight: 100; } }

/*---*/
